@import './gameboard.css';
@import './playerboard.css';
@import './computerboard.css';
@import './ships.css';
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

#root {
  width: 100%;
}

body {
  background-color: var(--oc-white);
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main,
section {
  text-align: center;
  margin: 20px;
}

header {
  background-color: #f3f3f3;
  padding: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header h1 {
  margin-left: 50px;
  font-family: "Anton SC", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

#game-screen {
  display: flex;
  height: 100vh;
}

.separator {
  width: 2px;
  background-color: #d7d7d7;
  height: 100%;
  margin: 0 20px;
}

.game-over-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.game-over-screen h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(34, 34, 34);
}

.game-over-screen h2 {
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(34, 34, 34);
  margin-bottom: 50px;
}

.game-over-screen button {
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #fff;
  outline: none;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  transition: 150ms ease-in-out;
  z-index: 11;
}

.game-over-screen button:hover {
  background-color: #fff;
  color: black;
}

.turn-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}

.animation-wrapper{
	background: #ace5ee;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  overflow: hidden;
  z-index: 1;
}

.water {
  bottom: 0;
  left: 0;
	position: absolute;
  width: 100%;
}

.water ul.waves{
	list-style: none;
	margin: 0;
	padding: 0;
}

.water ul.waves li{
	background-repeat: repeat-x;
}

.water ul.waves li.wave-one{
	animation: wave 8.7s linear infinite;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	bottom: 0px;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 10;
}

.water ul.waves li.wave-two{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 10s linear infinite;
	bottom: 0px;
	height: 84px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 9;
}

.water ul.waves li.wave-three{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 25s linear infinite;
	bottom: 0;
	height: 190px;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 8;
}

.water ul.waves li.wave-four{
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation: wave 25s linear infinite;
	bottom: 0;
	height: 205px;
	left: 0;
	position: absolute;
	right: 0;
}

.boat{
	animation: boat 3s linear infinite;
  background-repeat: no-repeat;
  bottom: 110px;
  height: 400px;
  left: 50%;
	position: absolute;
  width: 500px;
}

.cloud{
	animation: cloud 30s linear infinite;
	background-repeat: no-repeat;
  height: 165px;
  left: 0;
  position: absolute;
  width: 297px
}

.cloud2 {
	animation: cloud 25s linear infinite;
	background-repeat: no-repeat;
  bottom: 320px;
  height: 165px;
  left: 140px;
  position: absolute;
  width: 297px;
}

.winning-screen, .losing-screen {
  position: relative;
  z-index: 11;
}

@keyframes wave{
  0% {
      background-position: 0 0;
}

  100% {
      background-position: 1920px 0;
  }
}

@keyframes boat{
0%{
  transform: rotate(0);
}

50%{
  transform: rotate(-3deg);
}

100%{
  transform: rotate(0);
}
}

@keyframes cloud{
0%{
  left: -30%;
}

100%{
  left: 100%;
}
}

@media screen and (max-width: 1100px) {
  #game-screen {
    flex-direction: column;
    gap: 20px;
  }
}