@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --grid-player-colour: #b2d4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

.grid-container {
  display: flex;
  gap: 80px;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.gameboard-container {
  display: grid;
  grid-template-columns: 30px repeat(10, 1fr);
  grid-template-rows: 30px repeat(10, 1fr);
}

.row-header,
  .column-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #757575;
    letter-spacing: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  grid-column: 2 / span 10;
  grid-row: 2 / span 10;
}

.grid .cell {
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--grid-player-colour);
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  user-select: none;
}

.seperator {
  width: 2px;
  background-color: rgba(0, 0, 0, 0.26);
  margin-bottom: 30px;
}